@font-face {
    font-family: 'logofont';
    src: url(fonts/Kh\ Ang\ Ktomp.ttf);
  }
@font-face {
    font-family: 'title';
    src: url(fonts/AKbalthom\ KhmerNew.ttf);
}
@font-face {
    font-family: 'subtitle';
    src: url(fonts/Kh\ KAKADA\ 27\ Feb..ttf);
}

:root{
    --logo-color: #389377;
    --sublogo-color: #dd6161;
    --clr-primary: #651fff;
  --clr-gray: #37474f;
  --clr-gray-light: #b0bec5;
}
 
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /* overflow: hidden; */
}
body{
  font-family: 'title';
}
header {
    width: 100%;
    color: var(--logo-color);
    background-color: #fff;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid var(--sublogo-color);
    opacity: 0.9;
    position: sticky;
    top:0;
    z-index: 9999;
}
.container-header{
    background: #fff;
    width: 80%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    z-index: 9999;
}

 nav{
    z-index: 9999;
}
header nav ul {
    display: flex;
}
header nav ul li a {
    display: inline-block;
    color: var(--logo-color);
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
}
header nav ul li a:hover,
header nav ul li a.active {
    border-bottom-color: var(--sublogo-color);
}
.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #000;
}
@media only screen and (max-width: 900px) {
    .container-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .container-header {
        padding: 0 30px;
    }
    h2{
        font-size: 22px;
    }
}
@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }
    .container-header{
        width: 100%;
    }
    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 70px;
        height: 100vh;
        background: #fff;
        padding: 30px;
        transition: 0.3s;
    }
    header #nav_check:checked ~ nav {
        left: 0;
    }
    header nav ul {
        display: block;
    }
    header nav ul li a {
        margin: 5px 0;
    }
    h2{
        font-size: 18px;
    }
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 70px;
}
.logo .logo-text{
    font-family: 'logofont';
    font-size: 22px;
}
nav ul{
    font-family: 'title';
}
/* End of navigation */
/* Cover */
.cover {
    position: relative;
    max-height: 80vh;
    background-color: #000;
  }
  
  .cover img {
    width: 100%;
    height: 100%;
    max-height: 80vh;
    object-fit: fill;
    opacity: 0.6;
  }
  
  .cover-content {
    position: absolute;
    width: 60%;
    top: 20%;
    left: 10%;
    /* transform: translate(-50%, -50%); */
    text-align: left;
    color: white;
    line-height: 30px;
  }
  
  .cover-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .cover-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 35px;
  }
  
  .cover-content button {
    padding: 10px 20px;
    font-size: 18px;
    background-color:transparent;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 767px) {
    .container-header{
        opacity: 1;
    }
    .cover{
        max-height: 180px;
    }
    .cover img {
      height: auto;
      max-height: 180px;
      width: 100%;
      object-fit: fill;
    }
    .cover-content h1 {
      font-size: 20px;
      margin-bottom: 10px;
      line-height: 8px;
    }
  
    .cover-content h2 {
      font-size: 13px;
      margin-bottom:5px;
      line-height: 20px;
    }
  
    .cover-content button {
      font-size: 12px;
    }
  }
  .cov-title{
    font-family: 'title';
  }
  .cov-subtitle,.button{
    font-family: 'subtitle';
  }

/* End of cover */
/* Grid of content */

.wrapper-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
  }
  
  .container {
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
    background-color: white;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    margin: 0.5rem;
  }
  
  .banner-img {
    position: absolute;
    background-image: url(img/durianbackground.jpg);
    height: 10rem;
    width: 100%;
    object-fit:contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .profile-img {
    width: 8rem;
    clip-path: circle(60px at center);
    margin-top: 4.5rem;
  }
  
  .name {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .description {
    margin: 1rem 2rem;
    font-size: 0.9rem;
  }
  
 .btn {
    width: 100%;
    text-align: center;
    /* border: none; */
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    color: var(--logo-color);
    border:3px solid var(--clr-gray);
    padding: 1rem;
    background-color: transparent;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  
/* End grid of content */
table{
  margin: auto;
  width: 90%;
  justify-content: center;
  text-align: center;
}
table tbody tr{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
table tbody td{
  width: 33%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border:3px solid var(--sublogo-color);
  margin-left: -3px;
}
table tbody td img{
  width: 50px;
  background-color: var(--clr-primary);
  border-radius: 100%;
}